$background-color: #fff;
$posts-background-color: #c1dff0; // Make posts background
$color-1: #88ccf1;
$color-2: #3587a4;
$color-3: #2d848a;
$color-4: #2d898b;
$font-family: 'Raleway', sans-serif;
$color-black: #000;
$color-grey1: #f2f2f2;
$color-grey2: #eaeaea;
$color-grey3: #d9d8d8;
