@import 'variables';
@import 'nav';
@import 'home';

body {
  background-color: $background-color;
  font-family: $font-family;
  margin: auto 5em;
  padding-top: 3.5em;

  @media (min-width: 2560px) {
    font-size: 2em;
  }

  @media(max-width: 375px) {
    margin: auto;
  }
}

input {
  display: block;
  margin: 1% 0 5%;
}

textarea {
  margin: 1% 0 5%;
}

.ex {
  float: right;

  &:hover {
    cursor: pointer;
  }
}

.hover-mouse-pointer {
  &:hover {
    cursor: pointer;
  }
}

.right {
  float: right;
  margin: 1em 10em auto auto;
}
