body {
  padding-top: 70px;
}

input {
  display: block;
  margin: 1% 0 5%;
}

textarea {
  margin: 1% 0 5%;
}

.ex {
  float: right;
  &:hover {
    cursor: pointer;
  }
}

.hover-mouse-pointer {
  &:hover {
    cursor: pointer;
  }
}

.to-the-right {
  margin-right: 10em;
  text-align: right;
}

.right {
  float: right;
  margin: 1em 10em auto auto;
}
